body {
    font-family: Arial, sans-serif;
    background-color: #F8F9FA;
    text-align: center;
    margin: 20px;
}

.course-container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

 .back-link, .rar-link {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
}

.back-link:hover {
    background-color: #0056b3;
}
